[Unit]
Description=Raspberry Pi Turnkey
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/unbuffer /usr/bin/python3 /home/pi/raspberry-pi-turnkey/startup.py
WorkingDirectory=/home/pi/raspberry-pi-turnkey

[Install]
WantedBy=multi-user.target
